<include file="Templates/header" />
<section>
    <div class="container">
        <H1 style="color:red">{$message}</H1>
        <h3 id="location">系统将在<span style="color: #2b542c">{$t_time}</span>秒后自动跳转</h3>
    </div>
    <input type="hidden" name="t_url" value="{$t_url}">
</section>
<script src="/Public/js/jquery.js"></script>
<script type="text/javascript">
    var surl = $("input[name=t_url]").val();//要跳转的Url
    var stime = $("#location span").html();
    setInterval("refer()",1000);
    function refer(){
        if(stime == 0)
        {
            location.href = surl;
        }
        $("#location span").html(stime);
        stime--;
    }
</script>
</body>
</html>