<include file="Templates/header" />
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">

        <div class="news-list">

          <foreach name="articles" item="article">
          <dl>
            <dt><a href="/?c=Index&a=detail&id={$article.news_id}" target="_blank">{$article.title}</a></dt>
            <dd class="news-img">
              <img src="{$article.thumb}" alt="" width="200" height="120">
            </dd>
            <dd class="news-intro">
              {$article.description}
            </dd>
            <dd class="news-info">
              {$article.keywords} <span>{$article.create_time|date="Y-m-d H:i:s",###}</span> 阅读(1万)
            </dd>
          </dl>
          </foreach>
        </div>
        {$page_html}
      </div>
      <include file="Templates/right" />
    </div>
  </div>
</section>
</body>
</html>